body {
  background-color: rgb(38, 38, 38);
  margin: 0;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  background-color: rgb(24, 24, 24);
  color: rgb(99, 200, 247);
  padding: 10px;
  align-items: center;
}

nav>img {
  padding-right: 10px;

}

nav>h4 {
  margin-left: auto;
  color: aliceblue;

}

.Main-content {
  color: aliceblue;
  padding: 20px;

}

.Main-bullets>li {
  padding-block: 7px;
}

.Main-bullets>li::marker {
  font-size: 1.4rem;
  color: rgb(99, 200, 247);
}